<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272834295711-gp3ikhj1r02u3rumfcedf2kbm81uqpm0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272834295711-gp3ikhj1r02u3rumfcedf2kbm81uqpm0</string>
	<key>API_KEY</key>
	<string>AIzaSyBmA49_R8YRaDFa6FwqsLQTOpJv8Go--lc</string>
	<key>GCM_SENDER_ID</key>
	<string>272834295711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.AcronDesign.LoanMe</string>
	<key>PROJECT_ID</key>
	<string>loanm-e5ba3</string>
	<key>STORAGE_BUCKET</key>
	<string>loanm-e5ba3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272834295711:ios:dd6e73ae84cbb76a7a2faa</string>
	<key>DATABASE_URL</key>
	<string>https://loanm-e5ba3.firebaseio.com</string>
</dict>
</plist>